.AuthForm {
    width: 40%;
    padding: 87px 45px;

    h1, h2, h3, h4, p {
        margin: 0;
        color: var(--inverted-bg-color);
    }
}

.title {
    span {
        color: var(--sber-color);
    }
}

.btn {
    width: 100%;
}

.hr {
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
    background: var(--secondary-color);
}

.authError {
    color: red !important;
}