@import 'reset';
@import './variables/globals';
@import './themes/normal';
@import "primereact/resources/themes/lara-light-green/theme.css";
@import "./variables/primereact-custom.scss";

.app,
.app_modal,
.app_drawer {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    overflow-x: hidden;
}

.page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    border: 2px solid var(--inverted-bg-color);
    border-radius: 10px;
    background-color: var(--bg-color);
}
