li {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, p {
    margin: 0 0 20px 0;
    padding: 0;
}

p {
    color: var(--secondary-color)
}
