.CreditChatInput {
    margin-top: 30px;
    width: 50%;
}

.inputWrapper {
    padding: 10px 15px;
    border-radius: 8px;
    background: #FFF;
}

.input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.popularQueryCardWrapper {
    padding: 0 20px;
}

.focused {
    height: 100vh;
}