.ChatCard {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    transition: 200ms ease-out;

    &:hover {
        background-color: darkgray;
    }
}

.selected {
    background-color: darkgray;
}

.title {
    h3 {
        margin: 0;
    }
}

.icon {
    width: 20px;
    height: 20px;
}