.CreditChat {
    width: 100%;
    padding: 30px;
    background: linear-gradient(94deg, #21A038 0%, #A0E720 100%);
    transition: height 200ms;
    position: relative;

    h1 {
        color: var(--inverted-secondary-color);
    }
}

.closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
}

.chatArea {
    width: 54%;
    margin-top: 20px;
    max-height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.btn {
    cursor: pointer;
    width: 240px;
    height: 64px;
    border-radius: 16px;
    background: lightcoral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
