.block {
    padding: 16px 27px;
    border-radius: 25px;
    background: rgb(20 143 43 / 12%);
    font-size: 30px;
    line-height: 40px; 
}

.text {
    text-align: center;
}

.icon {
    overflow: visible;
}

.wrapper {
    width: 250px;
}