.UserChatMessageArea {
    padding: 10px 15px;
    border-radius: 0 0 8px 8px;
    background: #FFF;
    outline: 1px solid #767676;
}

.input {
    width: 100%;
    border: none;
    font-size: 16px;
    outline: none;
}