:root {
    --bg-color: #F1FCFF;
    --inverted-bg-color: #767676;

    // card
    --card-bg: #21A038;
    --accent-gradient: 95deg, #B6F09C 0%, #82DBF7 100%;

    // текст
    --primary-color: #000;
    --inverted-primary-color: #c27b57;

    // вторичный цвет
    --secondary-color: #bcbcbc;
    --inverted-secondary-color: #b7b992;

    // skeleton
    --skeleton-shadow: #275594;
    --skeleton-color: #0e0e75;
}
